<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/style.css">
  <title>Authentication_App</title>
</head>
<body>
  <h1>Welcome to Authentication</h1>
  <button id='signup' type='submit'><a href="/users/signup">Sign up</a></button>
  <button id='signin' type='submit'><a href="/users/signin">Sign in</a></button>
  
  

  
  <script src=""></script>
</body>
</html>