<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Experimental App</title>
</head>
<body>
  <h1 id="checking">
    <p>Flip Image</p>
  </h1>
  <p>This is an image of the moon!</p>
  <p>Now lets flip it over</p>
  <div>
      <div class="flipBox">
        <div class="flipBoxInner">
          <div class="flipBoxFront">
            <img src="https://thehustle.co/wp-content/uploads/2017/10/obamalaugh-1024x538.jpg" width="400" height="200">
          </div>
          <div class="flipCardBack">
            <p>He sure is funny!</p>
          </div>
        </div>
      </div>
  </div>
</body>
</html>