<div>
  <h1>Welcome to my Sign-Up page</h1>

  <form action="/users/signup" method="post">
    <p>Name: <input type="name" name="name" placeholder="Enter Name*" value="<%= typeof name != 'undefined' ? name : '' %>" required></p>
    <p>Username: <input type="username" name="username" placeholder="Username*" value="<%= typeof username != 'undefined' ? username: '' %>" required></p>
    <p>Email: <input type="email" name="email" placeholder="Enter Email*" value="<%= typeof email != 'undefined' ? email: '' %>" required></p>
    <p>Paasword: <input type="password" name="password" placeholder="Password*" value="<%= typeof password != 'undefined' ? password: '' %>" required></p>
    <button type="submit">Submit</button>
</form>

<p>Already have an account? <a href="/users/signin">Sign In</a></p>
</div>
