<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authentication_App</title>
</head>
<body>
  <input type='file' onchange="getImage(this);">
  <img id="image" src="#" alt="Image">

  <script src="public/js/upload.js"></script>
</body>
</html>